### Wordpress
<VirtualHost *:80>
    DocumentRoot /var/www/docker/xxxxxx/web
    DirectoryIndex index.php
    ServerName xxxxxx.localhost

    <FilesMatch \.php$>
        SetHandler "proxy:fcgi://php:9000"
    </FilesMatch>

    <Directory /var/www/docker/xxxxxx/web>
        Require all granted
        AllowOverride all
        <IfModule mod_rewrite.c>
            RewriteEngine On
            RewriteBase /
            RewriteRule ^index.php$ - [L]
            RewriteCond %{REQUEST_FILENAME} !-f
            RewriteCond %{REQUEST_FILENAME} !-d
            RewriteRule . /index.php [L]
        </IfModule>
    </Directory>

    CustomLog /usr/local/apache2/logs/xxxxxx.log combined
    ErrorLog /usr/local/apache2/logs/xxxxxx-error.log
</VirtualHost>
